[importlinter]
root_packages =
    unialg
include_external_packages = False

[importlinter:contract:layer-direction]
name = Semantic layer direction
type = layers
layers =
    lowering
    morphism
    space
containers =
    unialg
